@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

html,
body,
p,
h1 {
  margin: 0px;
  padding: 0px;
}

body {
  background: url("images/pattern-background-desktop.svg") no-repeat top;
  background-color: rgb(224, 232, 255);
  background-size: cover;
  font-size: 16px;
  font-family: "Red Hat Display", sans-serif;
}

main {
  border-radius: 1em;
  background-color: white;
  width: 450px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 96px auto;
}

h1 {
  font-weight: bolder;
  margin: 32px 0 16px 0;
  text-align: center;
}

img {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.message {
  color: hsl(224, 23%, 55%);
  text-align: center;
}

.card {
  margin-top: 16px;
  width: 300px;
  display: flex;
  align-items: center;
  background-color: hsl(225, 100%, 98%);
  padding: 26px;
  gap: 16px;
  border-radius: 1em;
}

.price {
  display: block;
  margin-top: 8px;
  color: hsl(224, 23%, 55%);
}

#card-column-1 {
  flex-grow: 0;
}
#card-column-2 {
  flex-grow: 1;
}

.btn-primary {
  background-color: hsl(245, 75%, 52%);
  color: white;
  padding: 16px;
  border-radius: 0.5em;
  border: 1px solid hsl(223, 47%, 23%);
  margin: 16px 0;
  box-shadow: 0px 3px 4px #cbd7f6;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
}

.btn-secondary {
  cursor: pointer;
  background-color: transparent;
  color: hsl(224, 23%, 55%);
  padding: 16px;
  border-radius: 0.5em;
  border: none;
  margin: 16px 0;
  width: 100%;
  font-weight: bold;
}

#container {
  max-width: 410px;
}

.attribution {
  background-color: rgb(40, 40, 40);
  color: white;
  padding: 32px;
}
